@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    width: 100vw;
    height: 100vh;
    background:linear-gradient(rgb(8, 8, 8),rgb(113, 115, 116));    /*to mix two colour*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    width:400px;
    height:500px;
    border:2px solid rgb(155, 152, 152);
    border-radius: 15px;
    box-shadow: rgba(147, 147, 147, 0.95) 0px 5px 15px; 
    padding: 20px;
}
input{
    width:100%;
    border: none;
    background-color: rgb(66, 68, 69);
    color: white;
    padding: 10px;
    text-align: right;
    font-size: 2.5rem;
    cursor: pointer;
}
input::placeholder{
    color: white;
}
button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    font-size: 1.5rem;
    color: white;
    background:gray ;
    margin: 10px;
    box-shadow: rgba(121, 121, 123, 0.872) 0px 7px 29px 0px;
}
.operator{
    color: orangered;
}
.equal{
    background-color: orangered;
    color: white;
}
.equal:hover{
    background-color: white;
    color: orangered;
}